
app-article-card {
    max-height: 533px;
    border: 1px solid rgba(0,0,0,.1)!important;
}

app-article-card {
    border: 1px solid rgba(0,0,0,.1)!important;
    padding:5px;
}

.trending {
  .row {
      justify-content: space-around;
  }
}
