
app-article-card {
    border: 1px solid rgba(0,0,0,0)!important;
    padding:5px;
    margin: 5px 0;
    float: left;
    max-width: 300px;
    width: 23.5%;
    height: auto;
}
.featured-container{
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}
.cards-container {
    width: 98.4%;
    padding-left: 1.5%;
}

.trending {
    max-width: 64rem;
    overflow: hidden;
    margin-top: 2rem;
}


.app-article-card {
    .article-img{
        cursor: pointer;
        background-color: #ccc !important;
        
    }
}




