.article-section {
  position: relative;
  width: calc(100% - 102px);
  display: inline-block;
  height: 100px;
}

.article-img {
  height: 92px;
  min-height: 100px;
  min-width: 100px;
  position: relative;
  width: 102px;
  overflow: hidden;
  background-position: 50% 50% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-color:#ccc !important;
  background-color: #ccc !important;
  float: left;

}

.article-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
  padding-left:5px;
  padding-right:3px;
  display: block;
  max-height: 50px;

}

.article-content {
  font-size: 0.8rem;
  font-weight: 400;
  padding:5px 3px 5px 5px;
  display: block;
  height: 40px;
  width: 300px;
  max-height: 40px;
  overflow: hidden;
}



.article-container {
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin-bottom: 10px;
  left:10px;
  box-shadow: 0 10px 10px rgba(0,0,0,.08);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  cursor: pointer;
  &:hover{
    box-shadow: 0 20px 20px rgba(0,0,0,.16);
    transform: translate(0,-5px);
    transition-delay: 0s !important;
  }
}




.small-tile {
  width: 100%;
}
