

<article class="nyt-article-ca-tile article-container">
  <div class="article-img">
    <img mat-card-image src="{{parseImage(article)}}" alt="Photo">
  </div>
  <div class="article-section">
    <div class="article-title">{{article.title}}</div>
    <div class="article-content">
      <p>
        {{article.abstract}}
      </p>
    </div>
    <div class="article-actions">
      <span class="article-date">{{article.published_date | date :'mediumDate'}}</span>
      <span class="dot-symbol"></span>
      <span class="article-type">{{article.section}}</span>
    </div>

  </div>

</article>
