/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
$grid-columns: 24 !default;
$grid-gutter-width: 16px !default;
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// matrial test theme

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html,body{
    margin:0;
    padding:0;
    font-family: 'roboto';
    font-size: 16px;
}

