ul {
    display: flex;
    width: calc(100% - 2rem);
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    text-align: left;
    padding: 0 1rem;
    li {
        flex:1;
        min-width: 110px;
        max-width: 120px;  
        text-align: left;
        padding: 5px;
        color: #444;
        list-style: none;
        margin: 3px;
        cursor: pointer;
        font-weight: 700;
        transition: all 0.1s ease-in;
        &:hover{
            font-weight: 400;
        }
    }
}

